/*============================================================

                    ✿✿✿ Rose Pine ✿✿✿ 
          MOBILE / NARROW SCREENS (max-width: 42em)

============================================================*/
/* credits to Neos by Zerafinacss - https://github.com/ZerafinaCSS/neos */

/* centered headings */
h2.heading,
h2.heading+h3.heading:not(.landmark) {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  text-align: center;
}

/*============================================================
>> 03 REGION: HEADER
============================================================*/


/* header dropdown menus */
#header .menu {
  width: 100%;
  max-width: unset;
  min-width: unset;
  border-inline: none;
  border-radius: 0;
  transform: unset;
}

/* center dropdown menu text */
#header .menu li {
  text-align: center;
}

/* header icons positioned in top right corner */
#login,
#greeting {
  order: 2;
}

/* primary navigation positioning */
#header nav:has(> .primary) {
  min-width: 100%;
  max-width: 100%;
  border-top: var(--border-width) solid;
}

/* header search bar positioning */
#header li.search {
  position: absolute;
  top: 0;
}

/* reduce search bar width */
#header #search .text {
  width: 35vw;
  min-width: unset;
  max-width: unset;
  transition: width 0.15s;
}

/* search bar width when focused/active */
#header #search .text:is(:focus, :active) {
  width: 95vw;
  max-width: unset;
}

/*============================================================
>> 05 REGION: MAIN
============================================================*/

/* DO NOT DELETE! */
.filtered .index,
form.filters,
form dd,
form dt,
form .meta dd,
form .meta dt,
form.inbox {
  float: none;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

/*============================================================
>> 06 REGION: FOOTER
============================================================*/

#footer {
  padding-block: 5%;
}

#footer ul.navigation.actions {
  flex-wrap: wrap;
}

#footer ul li.module {
  flex-basis: 47.5%;
}

/* space under the first row */
/* required as AO3 doesn't allow row-gap */
#footer ul li.module:nth-of-type(-n+2) {
  margin-bottom: 5%;
}

/*============================================================
>> 08 ACTIONS: BUTTONS
============================================================*/

/* center navigation buttons */
ul.navigation.actions,
p.navigation.actions {
  float: none;
  display: block;
  text-align: center;
}

.module h3.landmark {
  display: none;
}

.javascript .work.navigation .download .secondary {
  flex-direction: column;
}

/*============================================================
>> 10 TYPES AND GROUPS OF DATA
============================================================*/

/* reduce size primary icon size */
.icon {
  width: 85px;
  height: 85px;
}

/*============================================================
>> 11 GROUP: LISTBOX
============================================================*/

/* tagset media listboxes */
.tagset .media .listbox {
  width: 100%;
  margin-right: 0;
}

/*============================================================
>> 13 GROUP: BLURB
============================================================*/

/* bookmark blurb header */
.bookmark .short .header {
  align-items: flex-start;
}

/*============================================================
>> 17 ZONE: HOME
============================================================*/
/* rearrange the elements on primary (home) pages */

.home .header h2,
.home .header ul.actions {
  margin-left: 0;
  border-bottom: 0;
  text-align: center;
}

.home .header h2 {
  order: 2;
  margin-block: 0.429em;
}

.primary .icon {
  order: 1;
  position: unset;
  margin: 0 auto;
}

.home .header ul.actions,
.home .navigation.actions {
  order: 3;
}

.home .header .userstuff {
  order: 4;
}

.home .header .type {
  order: 5;
  width: 100%;
  text-align: center;
}

.home .header dl.stats {
  order: 6;
}

/*============================================================
>> 18 ZONE: SEARCH/BROWSE
============================================================*/

/* filters with JavaScript */
.javascript form.filters {
  overflow-y: visible;
  max-height: unset;
  padding: 0 0.643em;
}

.region:has(ol.pagination.actions) form.filters,
.javascript {
    background: var(--bg1);
}

/*============================================================
>> Z3 MISCELLANEOUS
============================================================*/

/* fix the Fandoms Index */
.media-index .media .listbox {
  width: 100%;
}
