/*============================================================

                      ✿✿✿ Rose Pine ✿✿✿ 
                     Theme: Rose Pine Dawn

==============================================================
GLOBAL VARIABLES
==============================================================*/

:root {

/*>========== UI PARAMETERS ==========<*/

  /* SPACE ON LEFT/RIGHT SIDE OF SCREEN */
  --margins-header:      1rem;                /* header on desktop */
  --margins-main:        5%;                  /* site contents on desktop */
  --margins-narrow:      2.5%;                /* site contents and header on tablet/mobile */

  /* BORDER-RADIUS (= ROUNDNESS OF CORNERS) */
  --radius-small:        0.75rem;             /* smaller elements: list elements, input elements etc. */
  --radius-mid:          0.75rem;             /* midsizde elements: dropdown menus, system messages etc. */
  --radius-big:          0.75rem;             /* bigger elements: blurbs, forms, comments, textareas etc. */
  --radius-alt:          0.75rem;             /* header search box, buttons */
  --radius-tag:          0 15px 15px;         /* tags */

  /* ICON BORDER-RADIUS */
  --icon-content-radius: 0.25rem;             /* content and bookmark icon */
  --icon-primary-radius: 50%;                 /* primary and comment icon */
  --icon-index-radius:   0.75rem;             /* index icon */


/*>========== MAIN BACKGROUND COLORS ==========<*/

  --bg1:                 #faf4ed;             /* main background, footer etc. */
  --bg2:                 #fffaf5;             /* header */
  --bg3:                 #faf4ed;             /* dashboard */
  --bg4:                 var(--bg5);          /* forms, javascript context etc. */
  --bg5:                 var(--bg2);          /* content boxes (blurbs, comments etc.), meta box, listbox, scrollbar track */
  --bg6:                 var(--bg5);          /* dropdown and secondary menus, tooltips etc. */
  --bg7:                 var(--bg5);          /* own blurbs, some even/odd list items etc. */


/*>========== MAIN BORDERS ==========<*/

  /* COLORS */
  --border1:             #e7d3cb;             /* header, dashboard, footer, news, blockquote, etc. */
  --border2:             #e4d1c9;             /* tables, forms, input elements, listbox etc. */
  --border3:             var(--border2);      /* content boxes (blurbs, comments etc.), dropdown and secondary menus */
  --border4:             #D7BFB6;             /* meta boxes, tooltips, scrollbar thumb etc. */

  /* WIDTH */
  --border-width:        1px;                 /* for almost all borders (experimental - changing this might cause some weirdness) */


/*>========== SHADOWS ==========<*/
/* replace values with "none" (without quotation marks) to remove shadows */

  --shadow:              0 0.25em 0.5em #89797925;  /* secondary elements, dropdowns, tooltips etc. */
  --shadow-header:       0 2px 8px 0 #c8b6ad33, 0 1px 0 0 rgba(200, 182, 173, 0.10); /* header only */
  --shadow-buttons:      0 2px 6px 0 #c8b6ad33, 0 1.5px 0 0 #e7d3cb80;  /* buttons */
  --shadow-box1:         0 2px 8px 0 #c8b6ad33, 0 1.5px 0 0 #e7d3cb80;  /* blurbs, listboxes, etc */
  --shadow-box2:         0 1.5px 4px 0 #c8b6ad22, 0 1px 0 0 #e7d3cb40;  /* modals, dropdown menus, tooltips etc. */


/*>========== MAIN TEXT ==========<*/

  /* TEXT SIZE */
  --txt-size-main:       110%;                /* main text size (bigger than 130% causes some issues, but is still mostly functional) */
  --txt-size-work:       115%;                /* work text size */

  /* TEXT COLORS */
  --txt-header:          #575279;             /* header text */
  --txt-header-hgl:      var(--link-hgl);     /* selected header dropdown toggle and link items */
  --txt-header-hgl-h1:   linear-gradient(125deg, #EA9A97, #eb6f92);  /* gradient for selected AO3 header title */
  --txt-main:            var(--txt-header);   /* main body text */
  --txt-alt1:            #FFFFFF;             /* announcements */
  --txt-alt2:            #FFFFFF;             /* checkbox checkmark, help symbol, event announcements etc. */

  /* TEXT BOLDNESS */
  --txt-semibold:        500;                 /* font-weight hover effect */
  --txt-bold:            700;                 /* font-weight for headings */

  /* LINKS */
  --link:                #eb6f92;             /* link color */
  --link-hgl:            #eb6f92;             /* color for hovered/focused links, header search bar icon, question icon  */
  --link-visited:        #3e8fb0;             /* color for already visited links */
  --link-underline:      1px solid transparent;  /* link underline => delete "transparent" to make link underlines visible */


/*>========== INTERACTION COLORS ==========<*/
/* = buttons, input and select elements */

  /* BUTTON COLORS */
  --int-btn-bg:          var(--bg5);          /* background for standard buttons*/
  --int-btn-border:      var(--border4);      /* border for standard buttons*/
  --int-btn-txt:         var(--txt-main);     /* text for standard buttons*/
  --int-btn-hgl-bg:      linear-gradient(to bottom right, #EA9A97, #eb6f92);  /* background for hovered/focused buttons */
  --int-btn-hgl-txt:     var(--txt-alt2);     /* text for hovered/focused buttons */ 
  --int-btn-hgl-border:  #00000005;           /* border for hovered/focused buttons */                                                                       
  
  --int-bg:              var(--bg5);          /* background for input and select elements */
  --int-search:          var(--bg5);          /* background for header search box */

  --int-current-bg:      var(--bg5);          /* background for currently active elements */
  --int-current-txt:     var(--txt-main);     /* text for currently active elements */
  --int-current-border:  var(--border1);      /* border for currently active elements */
  --int-disabled-bg:     var(--border1);      /* background for disabled buttons and checkboxes */
  --int-checked:         #eb6f92;             /* checked checkboxes and radio buttons */
  
  --int-hgl:             var(--link-hgl);     /* highlight for hovered/focused/selected elements */
  --int-hgl-bg:          var(--int-btn-hgl-bg);  /* background for hovered/focused list items */
  --int-hgl-txt:         var(--txt-alt2);     /* text for hovered/focused list items and for collection header */


/*>========== ICON COLORS ==========<*/

  /* CONTENT SYMBOL ICONS */
  --icon-content-complete:    #badf95;
  --icon-content-incomplete:  #f995a6;
  --icon-content-public:      #3e8fb0;
  --icon-content-private:     #eb6f92;
  --icon-content-hidden:      #908caa;
  --icon-content-rec:         #f6c177;

  /* RATING ICONS */
  --icon-rating-gen:          #badf95;
  --icon-rating-teen:         #ffd07b;
  --icon-rating-mature:       #f2b487;
  --icon-rating-explicit:     #f995a6;

  /* RELATIONSHIP / PAIRING / ORIENTATION ICONS */
  --icon-relationship-mm:     #9bc9f6;
  --icon-relationship-mf:     #c27bc2;
  --icon-relationship-gen:    #badf95;
  --icon-relationship-ff:     #fa9eae;
  --icon-multi:               conic-gradient(from 360deg, #c27bc2 0% 25%, #9bc9f6 25% 50%, #badf95 50% 75%, #fa9eae 75% 100%);
  --icon-relationship-other:  linear-gradient(to left top, #c27bc2, #9bc9f6, #badf95, #fa9eae);

  /* CONTENT WARNING ICONS */
  --icon-warning-choose-not:  #f2b487;
  --icon-warning-yes:         #fa9cac;
  --icon-content-external:    #9dcaf8;

  /* OTHER ICONS */
  --icon-bg:                  var(--int-bg);  /* background for empty icon box or uploaded icon with transparent background */
  --icon-id:                  var(--link);    /* user, collection, skin, tag, unrevealed work, admin icon + collection header background */
  --icon-anon:                var(--border4); /* guest, anonymous user */

  /* ICON BORDERS */
  --icon-border1:             var(--int-btn-hgl-border);  /* rss icon - borders for other icons removed */
  --icon-border2:             var(--border2); /* uploaded, default user and mystery icon + empty symbols box */


/*>========== TAG COLORS ==========<*/

  /* BACKGROUND */
  --tag-default-bg:      #f0f8f9;
  --tag-fandom-bg:       #d8edc2;
  --tag-warning-bg:      #fadaae;
  --tag-ship-bg:         #f1bab8;
  --tag-character-bg:    #b8d9e6;
  --tag-freeform-bg:     var(--tag-default-bg);
  --tag-splash-bg:       #F6ECE3;   /* leave alone - only for tags on the splash page */

  /* TEXT */
  --tag-default-txt:     #464261;
  --tag-fandom-txt:      #464261;
  --tag-warning-txt:     #464261;
  --tag-ship-txt:        #464261;
  --tag-character-txt:   #464261;
  --tag-freeform-txt:    #464261;

  /* BORDER */
  --tag-border:          #9893a525;

  /* HOVER AND FOCUS */
  --tag-hgl-bg:          var(--int-btn-hgl-bg);
  --tag-hgl-txt:         var(--txt-alt2);
  --tag-hsl-shadow:      inset 0 0 0 1px rgba(255,255,255,0.3);



/*>========== COLORS FOR ROLES AND STATES + SYSTEM MESSAGES ==========<*/

  /* BACKGROUND */
  --notice-bg:           #fbeaec;
  --success-bg:          #f0f8fc;
  --caution-bg:          #fef8ea;
  --alert-bg:            #fceaf3;

  /* TEXT (AND BORDERS) */
  --notice-txt:          #ea9a97; 
  --success-txt:         #3e8fb0;
  --caution-txt:         #f6c177;
  --alert-txt:           #eb6f92;


/*>========== FILTERS ==========<*/
/* the colors of the following elements can only be changed using filters; adjust filter values to change colors */

  --header-icon:         brightness(0) saturate(100%) invert(31%) sepia(23%) saturate(756%) hue-rotate(208deg) brightness(98%) contrast(87%);
  --header-icon-hgl:     brightness(0) saturate(100%) invert(71%) sepia(22%) saturate(4960%) hue-rotate(300deg) brightness(94%) contrast(96%);
  --kudos-icon:          var(--header-icon);
  --lock-icon:           var(--header-icon);
  --tag-filter:          brightness(1.15);
  --stats-icon:          var(--header-icon);
  --stat-chart:          saturate(45%) hue-rotate(255deg) contrast(110%) sepia(10%) brightness(110%);
  --rich-txt-editor:     none;

}
