.site-skin-metadata {
content:
"
============================================================

         ✦✦✦ Rosé Pine — Closer to Home Tags ✦✦✦
                      Text Decorations

==============================================================
SKIN METADATA
==============================================================

  - Skin:         Rosé Pine — Closer to Home
  - Add-on:       Text Decorations
  - File:         CTH_text_decorations.css
  - Author:       ravenothere
  - Tumblr:       ravenothere
  - License:      MIT
  - Updated:      2026-04-28

  - Repository:   https://github.com/ravenothere/AO3-Rose-Pine-Closer-to-Home
  - Instructions: https://archiveofourown.org/works/80768621

  - Add-on by:    'Rosé Pine' by Blackbatcat          https://github.com/Wolfbatcat/ao3-rose-pine

============================================================";
}

/*>========== TEXT DECORATIONS ==========<*/

/* HEADING DECORATIONS */
#dashboard .current:after,
.home .header h2::after,
.splash>.module h3::after {
    content: "\00a0✦";
}

/* TAG DECORATIONS */
a.tag:not(.fandom.index.group a.tag,
    h2.heading a.tag,
    .splash .favorite a.tag,
    h5.fandoms.heading a.tag,
    dd.fandom.tags a,
    [class^=warning] a.tag,
    [class^=relationship] a,
    [class^=character] a.tag):after {
    content: "\00a0\00a0✦";
}