/*============================================================

                      ✿✿✿ Rose Pine ✿✿✿ 
                     Theme: Rose Pine Glass

==============================================================
GLOBAL VARIABLES
==============================================================
NOTE: This theme is only compatible with Zen Browser and is intented for AO3's desktop site. 
Both Zen Browser and the Zen Internet Firefox extension are required */

:root {

/*>========== UI PARAMETERS ==========<*/

  /* SPACE ON LEFT/RIGHT SIDE OF SCREEN */
  --margins-header:      1rem;                /* header on desktop */
  --margins-main:        5%;                  /* site contents on desktop */
  --margins-narrow:      2.5%;                /* site contents and header on tablet/mobile */

  /* BORDER-RADIUS (= ROUNDNESS OF CORNERS) */
  --radius-small:        0.75rem;             /* smaller elements: list elements, input elements etc. */
  --radius-mid:          0.75rem;             /* midsizde elements: dropdown menus, system messages etc. */
  --radius-big:          0.75rem;             /* bigger elements: blurbs, forms, comments, textareas etc. */
  --radius-alt:          0.75rem;             /* header search box, buttons */
  --radius-tag:          0 15px 15px;         /* tags */

  /* ICON BORDER-RADIUS */
  --icon-content-radius: 0.75rem;             /* content and bookmark icon */
  --icon-primary-radius: 99999px;             /* primary and comment icon */
  --icon-index-radius:   0.75rem;             /* index icon */


/*>========== MAIN BACKGROUND COLORS ==========<*/

  --bg1:                 transparent;             /* main background, footer etc. */
  --bg2:                 #2a273f35;             /* header */
  --bg3:                 #23213638;             /* dashboard */
  --bg4:                 #28253e30;          /* forms, javascript context etc. */
  --bg5:                 #2a273f2c;          /* content boxes (blurbs, comments etc.), meta box, listbox, scrollbar track */
  --bg6:                 #2a273f;          /* dropdown and secondary menus, tooltips etc. #232136aa */
  --bg7:                 #2d2a4030;          /* own blurbs, some even/odd list items etc. */


/*>========== MAIN BORDERS ==========<*/

  /* COLORS */
  --border1:             #6e6a86;             /* header, dashboard, footer, news, blockquote, etc. */
  --border2:             #7d7593;             /* tables, forms, input elements, listbox etc. */
  --border3:             var(--border1);      /* content boxes (blurbs, comments etc.), dropdown and secondary menus */
  --border4:             var(--border2);             /* #9892a8 meta boxes, tooltips, scrollbar thumb etc. */

  /* WIDTH */
  --border-width:        1px;                 /* for almost all borders (experimental - changing this might cause some weirdness) */


/*>========== SHADOWS ==========<*/
/* replace values with "none" (without quotation marks) to remove shadows */

  --shadow:              0 2px 4px rgba(25, 22, 37, 0.1), 0 0 0 1px rgba(110, 106, 134, 0.08);  /* secondary elements, dropdowns, tooltips etc. */
  --shadow-header:       0 2px 6px rgba(25, 22, 37, 0.08), 0 0 0 1px rgba(110, 106, 134, 0.1);  /* header only */
  --shadow-buttons:      0 1px 3px rgba(35, 33, 54, 0.15), 0 0 0 1px rgba(138, 130, 160, 0.12), inset 0 1px 0 rgba(255, 255, 255, 0.08);  /* buttons */
  --shadow-box1:         0 4px 10px rgba(35, 33, 54, 0.22), 0 2px 4px rgba(42, 39, 63, 0.15), 0 0 0 1px rgba(110, 106, 134, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.06);  /* blurbs, listboxes, etc */
  --shadow-box2:         0 2px 5px rgba(35, 33, 54, 0.12), 0 1px 2px rgba(42, 39, 63, 0.1), 0 0 0 1px rgba(125, 117, 147, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.06);  /* modals, dropdown menus, tooltips etc. */


/*>========== MAIN TEXT ==========<*/

  /* TEXT SIZE */
  --txt-size-main:       100%;                /* main text size (bigger than 130% causes some issues, but is still mostly functional) */
  --txt-size-work:       110%;                /* work text size */

  /* TEXT COLORS */
  --txt-header:          #e0def4;             /* header text */
  --txt-header-hgl:      var(--link-hgl);     /* selected header dropdown toggle and link items */
  --txt-header-hgl-h1:   linear-gradient(125deg, #ebbcba, #eb6f92);  /* gradient for selected AO3 header title */
  --txt-main:            var(--txt-header);   /* main body text */
  --txt-alt1:            #FFFFFF;             /* announcements */
  --txt-alt2:            #FFFFFF;             /* checkbox checkmark, help symbol, event announcements etc. */

  /* TEXT BOLDNESS */
  --txt-semibold:        600;                 /* font-weight hover effect */
  --txt-bold:            700;                 /* font-weight for headings */

  /* LINKS */
  --link:                #eb6f92;             /* link color */
  --link-hgl:            #eb6f92;             /* color for hovered/focused links, header search bar icon, question icon  */
  --link-visited:        #9ccfd8;             /* color for already visited links */
  --link-underline:      1px solid transparent;  /* link underline => delete "transparent" to make link underlines visible */


/*>========== INTERACTION COLORS ==========<*/
/* = buttons, input and select elements */

  /* BUTTON COLORS */
  --int-btn-bg:          #2e2c4425;             /* background for standard buttons*/
  --int-btn-border:      var(--border4);      /* border for standard buttons*/
  --int-btn-txt:         var(--txt-main);     /* text for standard buttons*/
  --int-btn-hgl-bg:      linear-gradient(to bottom right, #ebbcba 0%, #ea9a97 33%, #eb6f92 100%);  /* background for hovered/focused buttons */
  --int-btn-hgl-txt:     var(--txt-alt2);     /* text for hovered/focused buttons */ 
  --int-btn-hgl-border:  #00000020;           /* border for hovered/focused buttons */                                                                       
  
  --int-bg:              var(--bg5);          /* background for input and select elements */
  --int-search:          #28253c25;             /* background for header search box */

  --int-current-bg:      #332f4d30;             /* background for currently active elements */
  --int-current-txt:     #eb6f92;     /* text for currently active elements */
  --int-current-border:  #eb6f9299;   /* border for currently active elements */
  --int-disabled-bg:     var(--border1);      /* background for disabled buttons and checkboxes */
  --int-checked:         #eb6f92;             /* checked checkboxes and radio buttons */
  
  --int-hgl:             var(--link-hgl);     /* highlight for hovered/focused/selected elements */
  --int-hgl-bg:          var(--int-btn-hgl-bg);  /* background for hovered/focused list items */
  --int-hgl-txt:         var(--txt-alt2);     /* text for hovered/focused list items and for collection header */


/*>========== ICON COLORS ==========<*/

  /* CONTENT SYMBOL ICONS */
  --icon-content-complete:    #3e8fb0;
  --icon-content-incomplete:  #9ccfd8;
  --icon-content-public:      #3e8fb0;
  --icon-content-private:     #eb6f92;
  --icon-content-hidden:      var(--link-visited);
  --icon-content-rec:         #ebbcba;

  /* RATING ICONS */
  --icon-rating-gen:          #9ccfd8;
  --icon-rating-teen:         #3e8fb0;
  --icon-rating-mature:       #ebbcba;
  --icon-rating-explicit:     #eb6f92;

  /* RELATIONSHIP / PAIRING / ORIENTATION ICONS */
  --icon-relationship-mm:     #eb6f92;
  --icon-relationship-mf:     #3e8fb0;
  --icon-relationship-gen:    #9ccfd8;
  --icon-relationship-ff:     #ebbcba;
  --icon-multi:               conic-gradient(from 360deg, #eb6f92 0% 25%, #9ccfd8 25% 50%, #ebbcba 50% 75%, #3e8fb0 75% 100%);
  --icon-relationship-other:  linear-gradient(to left top, #3e8fb0, #9ccfd8, #eb6f92, #ebbcba);

  /* CONTENT WARNING ICONS */
  --icon-warning-choose-not:  #9ccfd8;
  --icon-warning-yes:         #eb6f92;
  --icon-content-external:    #ebbcba;

  /* OTHER ICONS */
  --icon-bg:                  var(--int-bg);  /* background for empty icon box or uploaded icon with transparent background */
  --icon-id:                  var(--link);    /* user, collection, skin, tag, unrevealed work, admin icon + collection header background */
  --icon-anon:                var(--border4); /* guest, anonymous user */

  /* ICON BORDERS */
  --icon-border1:             var(--int-btn-hgl-border);  /* rss icon - borders for other icons removed */
  --icon-border2:             var(--border2); /* uploaded, default user and mystery icon + empty symbols box */


/*>========== TAG COLORS ==========<*/

  /* BACKGROUND */
  --tag-default-bg:      #393552;
  --tag-fandom-bg:       #eb6f92;
  --tag-warning-bg:      #ebbcba;
  --tag-ship-bg:         #9ccfd8;
  --tag-character-bg:    #3e8fb0;
  --tag-freeform-bg:     var(--tag-default-bg);
  --tag-splash-bg:       var(--bg5);    /* leave alone - only for tags on the splash page */

  /* TEXT */
  --tag-default-txt:     #908caa;
  --tag-fandom-txt:      #eb6f92;
  --tag-warning-txt:     #ebbcba;
  --tag-ship-txt:        #9ccfd8;
  --tag-character-txt:   #3e8fb0;
  --tag-freeform-txt:    #908caa;

  /* BORDER */
  --tag-border:          #9893a525;

  /* HOVER AND FOCUS */
  --tag-hgl-bg:          var(--int-btn-hgl-bg);
  --tag-hgl-txt:         var(--txt-alt2);
  --tag-hsl-shadow:      0 2px 6px rgba(235, 111, 146, 0.25), inset 0 1px 0 rgba(255,255,255,0.2);



/*>========== COLORS FOR ROLES AND STATES + SYSTEM MESSAGES ==========<*/

  /* BACKGROUND */
  --notice-bg:           #1a263080;
  --success-bg:          #162a2c80;
  --caution-bg:          #2a203a80;
  --alert-bg:            #2a182080;

  /* TEXT (AND BORDERS) */
  --notice-txt:          #9ccfd8;
  --success-txt:         #3e8fb0;
  --caution-txt:         #c4a7e7;
  --alert-txt:           #eb6f92;


/*>========== FILTERS ==========<*/
/* the colors of the following elements can only be changed using filters; adjust filter values to change colors */

  --header-icon:         brightness(0) saturate(100%) invert(88%) sepia(20%) saturate(167%) hue-rotate(206deg) brightness(97%) contrast(96%);
  --header-icon-hgl:     brightness(0) saturate(100%) invert(62%) sepia(26%) saturate(1195%) hue-rotate(299deg) brightness(90%) contrast(105%);
  --kudos-icon:          var(--header-icon);
  --lock-icon:           var(--header-icon);
  --tag-filter:          brightness(1.10);
  --stats-icon:          var(--header-icon);
  --stat-chart:          invert(96%) saturate(20%) hue-rotate(75deg) brightness(115%);
  --rich-txt-editor:     none;

}

/*>========== STYLE OVERRIDES ==========<*/

a.tag:not(.fandom.index.group a.tag):not(h2.heading a.tag):not(.splash .favorite a.tag):not(.splash .favorite li:nth-of-type(2n+1) a.tag),
.tags a[data-remote="true"],
.unwrangled,
.added.tag {
    margin-block: 0.15em;
    padding: 0.15em 0.5em !important;
    background-color: transparent !important;
    color: var(--tag-freeform-txt);
    border: var(--border-width) solid var(--tag-freeform-txt);
    font-size: 1em !important;
    line-height: 1.25 !important;
    text-decoration: none;
}

.blurb h5.fandoms.heading a.tag,
.blurb h5.tags.heading a.tag {
  margin-right: 12px;
}

a.tag:not(.fandom.index.group a.tag, h2.heading a.tag, .splash .favorite a.tag):is(:hover, :focus),
.listbox .heading a.tag:visited:is(:hover, :focus),
.tags a[data-remote="true"]:is(:hover, :focus) {
  border: 1px solid var(--txt-alt1) !important;
  transition: 25ms ease-out;
}

.blurb h5.fandoms.heading a.tag,
dd.fandom.tags a {
  border: 1px solid var(--tag-fandom-txt) !important;
}

[class^="warning"] a.tag {
  font-weight: 400;
  border: 1px solid var(--tag-warning-txt) !important;
}

[class^="relationship"] a.tag {
  border: 1px solid var(--tag-ship-txt) !important;
}

[class^="character"] a.tag {
  border: 1px solid var(--tag-character-txt) !important;
}

[class^="freeform"] a.tag {
  border: 1px solid var(--tag-freeform-txt) !important;
}

.unwrangled {
  border: var(--border-width) dashed var(--tag-freeform-txt) !important;
  background: transparent;
}

.autocomplete li.added,
.post .meta dd ul li.added {
  padding: 2px 8px;
  color: var(--tag-freeform-txt);
  border: var(--border-width) solid var(--tag-freeform-txt);
}

li.added:is(:hover, :focus) {
  border-color: var(--txt-alt2);
  color: var(--txt-alt2);
}

li.added:is(:hover, :focus) .delete a {
  color: inherit;
}

.delete a, span.delete, span.delete a {
	color: var(--tag-freeform-txt);
}

.delete a:hover, span.delete:hover, span.delete a:hover {
	color: var(--txt-alt2) !important;
}

#modal,
.ao3-menu-dialog,
#floaty-box-container {
  background: var(--bg6) !important;
}

.ao3-menu-dialog .settings-section {
  background: rgba(0, 0, 0, 0.1) !important;
}

form.verbose legend,
#dashboard .secondary {
  background-color: var(--bg5);
}

.user-note-preview details {
  background: var(--bg5) !important;
}

/*>========== FONTS ==========<*/

/* MAIN FONT FAMILY */
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
blockquote,
.prompt .blurb h6,
.bookmark .user .meta,
a.work,
span.symbol,
.heading .actions,
.heading .action,
.heading span.actions,
button,
span.unread,
.replied,
span.claimed,
.actions span.defaulted,
.splash .news .meta,
.datetime,
h5.fandoms.heading a.tag,
dd.fandom.tags a,
select {
    font-family: Figtree, Bitter, Helvetica, "Trebuchet MS", "Lucida Sans", Arial, san-serif, "GNU Unifont";
}

/* HEADINGS FONT FAMILY */
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    font-family: Figtree, Bitter, Helvetica, "Trebuchet MS", "Lucida Sans", Arial, sans-serif, "GNU Unifont";
    font-weight: var(--txt-bold);
}

/* CODE FONT FAMILY */
kbd,
tt,
code,
var,
pre,
samp,
textarea,
textarea#skin_css,
.css.module blockquote pre,
#floaty-textarea {
    font-family: Victor Mono Medium, Consolas, Monaco, Courier, monospace;
    font-size: 0.9em;
    /* font-style: italic; */
    /* for cursive version of Victor Mono */
}

/*>========== TEXT DECORATIONS ==========<*/
 /* don't forget to change the decoration in the mobile skin as well */

/* TITLE DECORATIONS */
#header .heading a::before {
  content: "Archive of Our Own\00a0✿";
}

/* DASHBOARD CURRENT TAB DECORATION */
#dashboard .current:after {
  content: "\00a0✿";
}

.home .header h2::after {
    content: "\00a0✿";
}

.splash>.module h3::after {
  content: "\00a0✿";
}

/* TAG DECORATIONS */
a.tag:not(.fandom.index.group a.tag,
  h2.heading a.tag,
  .splash .favorite a.tag,
  h5.fandoms.heading a.tag,
  dd.fandom.tags a,
  [class^=warning] a.tag,
  [class^=relationship] a,
  [class^=character] a.tag):after {
  content: "\00a0\00a0✿";
}