.site-skin-metadata {
content:
"
============================================================

         ✦✦✦ Rose Piné — Closer to Home Tags ✦✦✦
                   Style A — Platonic Ships

==============================================================
SKIN METADATA
==============================================================

  - Skin:         Rosé Pine — Closer to Home
  - Add-on:       Tags - Style A — Platonic Ships
  - File:         CTH_tags_rosepine_a_plat.css
  - Author:       ravenothere
  - Tumblr:       ravenothere
  - License:      MIT
  - Updated:      2026-04-28

  - Repository:   https://github.com/ravenothere/AO3-Rose-Pine-Closer-to-Home
  - Instructions: https://archiveofourown.org/works/80768621

  - Original Skin:'Rosé Pine' by Blackbatcat          https://github.com/Wolfbatcat/ao3-rose-pine

  - Base:         'neos' by ZerafinaCSS               https://archiveofourown.org/works/65849527

  - Inspired by:  'Archive 2.0 skin' by AO3           https://archiveofourown.org/skins/873
                  'Tide' by ElectricAlice             https://github.com/electricalice/Ao3-tide
                  'Flat Squares Skin' by milkfatzero  https://ao3-skins.dreamwidth.org/6156.html

============================================================
NOTE: This version contains a seperate tag color for platonic ships. It is recommended that you use this with the Reorder Ship Tags userscript. 
https://greasyfork.org/en/scripts/562812-ao3-reorder-ship-tags
";
}

/*
==============================================================
GLOBAL VARIABLES
==============================================================

/*>========== TAG COLORS ==========<*/

:root {
  /* BACKGROUND */
  --tag-default-bg:       #302d47;
  --tag-fandom-bg:        #9fad97;
  --tag-warning-bg:       #dca65f;
  --tag-ship-bg:          #d36588;
  --tag-platonic-ship-bg: #a789ce;
  --tag-character-bg:     #73a7c0;
  --tag-freeform-bg:      var(--tag-default-bg);
}

/*>========== STYLE OVERRIDES ==========<*/

/* Special styling for platonic ships containing "*a* " */
li.relationships:has(a[href*="%20*a*%20"]) a.tag,
[class^="relationship"] a[href*="%20*a*%20"],
[class^="relationship"] a[href^="/tags/Other%20Relationship%20Tags%20to%20Be%20Added"]{
  background: var(--tag-platonic-ship-bg) !important;
  color: var(--tag-ship-txt) !important;
}

